:root:root {
  /* override */
  --badge-unread-background: rgb(8, 77, 179);
  --chip-background: var(--sidebar-active);
  --color-gray-lightest: var(--border-color);
  --color-white: var(--main-color);
  --header-background-color: var(--main-color);
  --header-title-username-color-darker: var(--font-color);
  --mention-link-background: var(--mention-link-group-background);
  --mention-link-text-color: var(--mention-link-group-text-color);
  --message-box-container-border-color: var(--border-color);
  --popover-background: rgb(35, 39, 47);
  --popover-item-color: var(--font-color);
  --sidebar-background: rgb(27, 29, 34);

  /* original */
  --border-color: rgb(55, 55, 55);
  --code-background: rgb(40, 44, 52);
  --code-font: rgb(213, 210, 205);
  --font-color: rgb(193, 189, 182);
  --font-hover: rgb(194, 190, 183);
  --main-color: rgb(23, 24, 28);
  --sidebar-active: rgb(35, 39, 47);
}

/* main */
.content-background-color {
  background-color: var(--main-color);
}
.color-primary-font-color {
  color: var(--font-color);
}
.background-component-color {
  background-color: var(--sidebar-background);
}
.messages-container .footer,
.message.new-day::before,
.message.new-day::after,
.rc-input__element {
  background-color: var(--main-color);
  border-color: var(--border-color);
}
.message.active, .message:hover {
  background-color: var(--sidebar-active);
}
.first-unread .body::after {
  background-color: var(--main-color);
}
.message .title .is-bot, .message .title .role-tag {
  background: var(--main-color);
}
.message .reactions>li {
  background-color: var(--main-color);
  border-color: var(--border-color);
}
.message-actions {
  color: var(--font-color);
}
textarea {
  color: var(--font-color);
}

/* contextual bar */
.contextual-bar__header {
  background: var(--sidebar-background);
}
.rc-user-info-details {
  background-color: var(--sidebar-background);
}
.chip-container__item, .chip-container li {
  background-color: var(--sidebar-background);
}
.rc-button {
  color: var(--font-color);
}
.rc-user-info-details__info {
  color: var(--font-color);
}
.rcx-box {
  background-color: var(--sidebar-background) !important;
}
.rcx-vertical-bar > .rcx-box,
.rcx-thread-view > .rcx-box {
  background-color: var(--sidebar-background) !important;
}

/* code block */
.rc-old .code-colors {
  color: var(--code-font);
  border-color: var(--border-color);
  background-color: var(--code-background);
}
.code-colors.hljs, .hljs {
  color: #abb2bf;
  background: #282c34
}
.hljs .hljs-comment, .hljs .hljs-quote {
  color: #5c6370;
}
.hljs .hljs-doctag, .hljs .hljs-formula, .hljs .hljs-keyword {
  color: #c678dd
}
.hljs .hljs-deletion, .hljs .hljs-name, .hljs .hljs-section, .hljs .hljs-selector-tag, .hljs .hljs-subst {
  color: #e06c75
}
.hljs .hljs-literal {
  color: #56b6c2
}
.hljs .hljs-addition, .hljs .hljs-attribute, .hljs .hljs-meta-string, .hljs .hljs-regexp, .hljs .hljs-string {
  color: #98c379
}
.hljs .hljs-built_in, .hljs .hljs-class .hljs-title {
  color: #e6c07b
}
.hljs .hljs-attr,.hljs .hljs-number, .hljs .hljs-selector-attr, .hljs .hljs-selector-class, .hljs .hljs-selector-pseudo, .hljs .hljs-template-variable, .hljs .hljs-type,.hljs .hljs-variable {
  color: #d19a66
}
.hljs .hljs-bullet, .hljs .hljs-link,.hljs .hljs-meta, .hljs .hljs-selector-id,.hljs .hljs-symbol, .hljs .hljs-title {
  color: #61aeee
}

/* eemoji-picker */
.emoji-picker {
  background-color: var(--main-color)
}