:root:root {
  --badge-unread-background: rgb(8, 77, 179);
  --popover-background: rgb(35, 39, 47);
  --popover-item-color: var(--font-color);
  --header-background-color: var(--main-color);
  --header-title-username-color-darker: var(--font-color);
  --message-box-container-border-color: var(--border-color);
  --color-white: var(--main-color);

  --sidebar-background: rgb(27, 29, 34);
  --border-color: rgb(55, 55, 55);
  --button-color: rgb(173, 219, 253);
  --sidebar-unread: rgb(173, 219, 253);
  --sidebar-active: rgb(35, 39, 47);
  --font-color: rgb(193, 189, 182);
  --font-hover: rgb(194, 190, 183);

  --main-color: rgb(23, 24, 28);

  --code-background: rgb(171, 178, 191);
  --code-font: rgb(213, 210, 205);
}

.sidebar {
  background-color: var(--sidebar-background) !important;
  border-right: 1px solid var(--border-color);
}
.sidebar__toolbar-button,
.rc-room-actions__action {
  color: var(--button-color) !important;
}
.sidebar-item--unread {
  color: var(--sidebar-unread) !important;
}
.sidebar-item--active,
.sidebar-item:hover,
.sidebar-item__popup-active {
  background-color: var(--sidebar-active) !important;
  color: var(--font-hover) !important;
}
.rooms-list__toolbar-search {
  background-color: var(--sidebar-background);
}
.toolbar .rc-input__element {
  background-color: var(--sidebar-background);
  border-color: var(--border-color);
  color: var(--font-color);
}

.content-background-color {
  background-color: var(--main-color);
}
.color-primary-font-color {
  color: var(--font-color);
}
.background-component-color {
  background-color: var(--sidebar-background);
}
.messages-container .footer,
.message.new-day::before,
.message.new-day::after,
.rc-input__element {
  background-color: var(--main-color);
  border-color: var(--border-color);
}
textarea {
  color: var(--font-color);
}
.rc-user-info-details {
  background-color: var(--main-color);
}

.rc-old .code-colors {
  color: var(--code-font);
  border-color: var(--border-color);
  background-color: var(--code-background);
}
.code-colors.hljs, .hljs {
  color: #abb2bf;
  background: #282c34
}
.hljs .hljs-comment, .hljs .hljs-quote {
  color: #5c6370;
}
.hljs .hljs-doctag, .hljs .hljs-formula, .hljs .hljs-keyword {
  color: #c678dd
}
.hljs .hljs-deletion, .hljs .hljs-name, .hljs .hljs-section, .hljs .hljs-selector-tag, .hljs .hljs-subst {
  color: #e06c75
}
.hljs .hljs-literal {
  color: #56b6c2
}
.hljs .hljs-addition, .hljs .hljs-attribute, .hljs .hljs-meta-string, .hljs .hljs-regexp, .hljs .hljs-string {
  color: #98c379
}
.hljs .hljs-built_in, .hljs .hljs-class .hljs-title {
  color: #e6c07b
}
.hljs .hljs-attr,.hljs .hljs-number, .hljs .hljs-selector-attr, .hljs .hljs-selector-class, .hljs .hljs-selector-pseudo, .hljs .hljs-template-variable, .hljs .hljs-type,.hljs .hljs-variable {
  color: #d19a66
}
.hljs .hljs-bullet, .hljs .hljs-link,.hljs .hljs-meta, .hljs .hljs-selector-id,.hljs .hljs-symbol, .hljs .hljs-title {
  color: #61aeee
}